html{
    font-family: 'Roboto', sans-serif;

}

/* BOX MODEL
Modelo de caixa
Toda caixa tem:
largura altura espaçamentos preenchimentos bordas cor fundo maneirea que é vista pelo HTML (Display)
*/

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content{
    margin: 0 auto;
    width: 90%;
    max-width: 1100px;
}